/.idea
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/pdfs
/storage/framework/cache/*
/storage/framework/cache/data/*
/storage/framework/views/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/
nginx/
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
package-lock.json
