// Variable overrides
$sidebarbg: #fff !default;
$sidebarcolor: #6c757d !default;
$sidebarbordercolor: rgba(72, 94, 144, 0.16) !default;
$sidebaractivecolor: #4c75f2 !default;
$sidebarheadingcolor: #6c757d !default;
$sidebarheadingbackground: #fff !default;
$logobg: #fff !default;
$logocolor: #4c75f2 !default;
$headerbackground: #fff !default;
$headercolor: #292b3a !default;
$searchcolor: #292b3a !default;
$primarycolor: #1e3d73 !default;
$bodycolor: #292b3a !default;
$bodybackground: #f6f6f7 !default;
$bordercolor: rgba(72, 94, 144, 0.16) !default;
$mainbackground: #fff !default;
$secondary: #6c757d !default;
$success: #1ee0ac !default;
$info: #17a2b8 !default;
$warning: #ffc107 !default;
$danger: #f64e60 !default;
$dark: #343a40 !default;
$sidebarwidth: 140px !default;
$menu-padding: 15px !default;
